{{- if not .Values.valheimDedicatedServer.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "valheim.fullname" . }}
  labels:
    {{- include "valheim.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $i, $instance := .Values.instances }}
  {{ include "valheim.fullname" $ }}-{{ $i }}: |
    password="{{ $instance.password }}"
  {{- end }}
{{- end }}