name: Publish Docker Image Manually

on:
  workflow_dispatch:

jobs:
  call-publish-docker-image:
    uses: ./.github/workflows/docker-image.yaml
    with:
      PUBLISH_MANUALLY: true
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
